<!doctype html>
<head>
    <title>Factioneer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var i = 3;
            $("#add_button").click(function(){
                $("form").append(function(){
                    $("#submit").before(`<input type="text" size="15" name="player${i}" value="Player ${i}"><input type="checkbox" name="link${i}"><input type="text" size="15" name="faction${i}" value="Faction ${i}"><br/>`);
                    i = i + 1;
                });
            });
        });
    </script>
</head>

<button id="add_button">Add Player</button><br/>
<form method="POST">
    <input type="text" size="15" name="player1" value="Player 1"><input type="checkbox" name="link1"><input type="text" size="15" name="faction1" value="Faction 1"><br/>
    <input type="text" size="15" name="player2" value="Player 2"><input type="checkbox" name="link2"><input type="text" size="15" name="faction2" value="Faction 2"><br/>
    <input id="submit" type="submit">
</form>